body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #e9d980;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #ccc;
    width: 50%;
    margin: auto;
}

h1 {
    color: #333;
}

p {
    color: #555;
}

.btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #00b33c;
}